.builder {}
.alert {
	font-family: HelveticaNeue-Light, helvetica, sans-serif;
	font-size: 14px;
}
	
	.alert .button {
		font-family: monospace;
		font-size: inherit;
		color: inherit;
		border: none;
		padding: 0;
		margin: 0;

		background: inherit;
		cursor: inherit;
		outline: none;
	}

	.alert .button::before {
		content: "[";
	}

	.alert .button::after {
		content: "]";
	}

	.alert > :first-child {
		margin-top: 14px;
	}

	.alert > :last-child {
		margin-bottom: 14px;
	}

	.alert > * {
		margin-left: 14px;
		margin-right: 14px;
	}

	.alert .users {
		background: white;
		color: #666;
		margin-left: 0;
		margin-right: 0;
		overflow: hidden;
		padding: 0;
		list-style: none;
	}

	.alert .users li {
		margin: 14px;
	}