html, body {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	background: black;
	font-family: monospace;
	font-size: 12px;
	color: #EEE;
}

.slideshow {
	list-style: none;
	padding: 0;
	margin: 0;
}
	
	.slideshow .projector {
		position: absolute;
		left: 50%;
		top: 50%;
		max-height: 100%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 1s;
	}

	.slideshow .projector.OPEN {
		opacity: 1;
	}
	
	.slideshow .slide .buffer {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 1s, transform 20s linear;
	}

	.slideshow .slide .buffer.OPEN {
		opacity: 1;
	}

	.slideshow .slide .buffer.landscape {
		height: 100%;
	}

	.slideshow .slide .buffer.portrait {
		width: 100%;
	}

.list-group {
	position: absolute;
	top: 25px;
	right: 25px;
}

.model-list {
	float: left;
	margin: 0 4px;
	padding: 0;

	list-style: none;
	background-color: rgba(0,0,0,0.8);
	border-radius: 4px 8px;
	box-shadow: 2px 2px 8px #000;
	opacity: 0.5;
	transition: opacity 0.5s;
	overflow: hidden;
}

.model-list:hover {
	opacity: 1;
}
	.model-list > :first-child {
		padding-top: 6px;
	}

	.model-list > :last-child {
		padding-bottom: 6px;
	}

	.model-list label {
		display: block;
		padding: 4px 10px;
		color: #555;
		font-size: 1.2em;
	}

	.model-list li {
		padding: 4px 10px;
		display: none;
	}
	.model-list:hover li {
		display: block;
	}
		.model-list li.SELECTED {
			display: block;
			font-weight: bold;
			box-sizing: border-box;
			border: solid 1px;
			border-radius: 4px 8px;
		}

		.model-list li:hover {
			background-color: blue;
			cursor: pointer;
		}

.controls {
	position: absolute;
	top: 85%; left: 50%;
	transform: translate(-50%, -50%);
}
	.controls .play-pause {
		display: inline;
	}

	.controls a {
		display: inline-block;
		height: 40px;
		width: 40px;

		background-color: rgba(0,0,0,0.8);
		box-shadow: 2px 2px 8px #000;
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		vertical-align: middle;
		opacity: 0.5;
		transition: opacity 0.5s;
	}

	.controls a,
	.controls a:hover,
	.controls a:active,
	.controls a:visited {
		color: inherit;
		text-decoration: none;
	}

	.controls a:hover {
		opacity: 1;
	}
		
		.controls .play-pause a {
			width: 60px;
			height: 60px;
			margin: 0 10px;
			line-height: 60px;
			font-size: 2em;
		}

		.controls .play-pause a {
			display: inline-block;
		}

		.controls .play-pause a.pause {
			display: none;
		}

		.PLAYING .controls .play-pause a.pause {
			display: inline-block;
		}

		.PLAYING .controls .play-pause a.play {
			display: none;
		}